[submodule "_resources/testharness.js"]
	path = _resources/testharness.js
	url = https://github.com/w3c/testharness.js.git
[submodule "_resources/web-platform-tests"]
	path = _resources/web-platform-tests
	url = https://github.com/w3c/web-platform-tests.git
