---
layout: fullscreen
featurettes:
  -
    icons: group+factory
    title: Community-Driven & Industry-Supported
    body: A vibrant, industry-backed community is key to a successful and
          sustainable testing effort.
  -
    icons: git_pull_request+electrical_plug
    title: Open-Source & Standards-Based
    body: Test suites, tools and documentation are open-source and available
          freely under liberal licenses so that all can contribute _and_
          benefit.
  -
    icons: rabbit+stats
    title: Lean & Data-Driven
    body: Streamlined processes, improved tooling and better data to simplify
          test development, prioritize, and measure progress.
  -
    icons: bank+compass
    title: Centralized & Discoverable
    body: A common test repository that is easy to find and navigate. Tools,
          processes and documentation shared across Working Groups and among
          browser vendors.

---

<div class="container">
  {% include nav.html %}
</div>

<div class="container" role=main>
      <div class="jumbotron text-center">
        <p><img src="assets/dinos.png" alt="Test the Web Forward mascots: dinosaurs." class="img-responsive block-center"></p>
        <h1>Test the Web Forward</h1>
        <p>W3C's one stop shop for Open Web Platform testing.</p>

      </div>

      <p class=lead>As the Web morphed from a document exchange system to the World's most advanced application delivery platform, the requirements on the underlying technologies and the browsers implementing them changed dramatically. Web applications built today need a robust and interoperable Web that only thorough browser testing can guarantee.
      </p>
      <p class=lead>To meet this new challenge, W3C is launching an unprecedented effort to rethink and scale up its testing offering.</p>

  {% include featurettes.html featurettes=page.featurettes col=4 %}

  <hr />

  <div class="row">
    <div class="col-md-4">
      <h2>Learn</h2>
      <p>Learn how to write, review, and run Web Platform tests.</p>
      {% include cta.html body="Read the documentation" icon="open_book" url="/docs/" %}
    </div>

    <div class="col-md-4">
      <h2>Contribute</h2>
      <p>Join the community and contribute to the Open Web Platform test suite on GitHub.</p>
      {% include cta.html icon="git_create" url="https://github.com/w3c/web-platform-tests" body="Join us on GitHub!" %}
    </div>
    
    <div class="col-md-4">
      <h2>Get Started</h2>
      <p>Tackle easy bugs right away and learn as you go.</p>
      {% include cta.html icon="bug" url="/docs/bugs/" body="Fix my first bug!" %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% include events/upcoming.html %}
    </div>

    <div class="col-md-6">
    </div>
  </div>

</div>
